{% extends "./base.html" %}

{% load static %}

{% block body %}

    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    
    <div class="container mb-5 mt-5">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="static/img/fondo1.jpeg " class="d-block w-100" alt="..." width="200px" height="400px">
              </div>
              <div class="carousel-item">
                <img src=" static/img/fondo2.jpeg" class="d-block w-100" alt="..." width="200px" height="400px">
              </div>
              <div class="carousel-item">
                <img src=" static/img/fondo3.jpeg " class="d-block w-100" alt="..." width="200px" height="400px">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

    <div class="container">
            <section class="hero align-items-stretch">
                <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
                    <img class="hero-imagen-desarollador rounded-circle" src="{% static 'img/icon-jardin.png'  %}" alt="foto de portada">
                    <h1>Hola bienvenido a jardineria online!</h1>
                    <h2>Esta pagina esta diseñada para facilitar el comercio de productos de jardineria</h2>
                </div>
                <div class="hero-inferior">
                    <img class="hero-inferior-imagen img-fluid" src="{% static 'img/iconssss.png' %}" alt="flores de jardin">
                </div>
            </section>
            <!-- Segunda seccion -->
            <section class="sobre-mi seccion-oscura">
                <div class="contenedor">
                    <h2 class="seccion-titulo">Acerca de nosotros</h2>
                    <p class="seccion-texto">Aqui podras encontrar variedad de productos de jardineria y que mejor de manera
                        online</p>
                </div>
            </section>
            <!-- Productos -->
            <section class="productos-recientes seccion-clara d-flex flex-column">
                <h2 class="seccion-titulo texto-negro">Productos disponibles</h2>
                <h3 class="seccion-descripcion">Estos son algunos de los principales productos que podras encontrar en nuestra
                    pagina</h3>
                <div class="modaal mb-5">
                    <!-- Button trigger modal -->
                    <h3>Productos en Stock</h3>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Ver los mas
                    </button>
        
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ver mas productos!!</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h3>Aqui encontras mas variedades de flores, arbustos entre otras cosas!!</h3>
                                    <p>Actualmente seguimos trabajando para entregarles la mejor informacion sobre nuestros
                                        proximos productos, se paciente
                                        y espera lo que se viene estara mortal!!
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnCerrar" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-danger">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--galeria de producto  -->
                <div class="container text-center productos-contenedor">
                    <div class="row">
                        <!-- producto 1 -->
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="productos">
                                <img src="static/img/macetero-final.png" alt="Macetero">
                                <div class="overlay">
                                    <p>Maceteros</p>
                                </div>
                            </div>
                        </div>
                        <!-- producto 2 -->
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="productos">
                                <img src="static/img/floresssss.png" alt="Flores">
                                <div class="overlay">
                                    <p>Flores</p>
                                </div>
                            </div>
                        </div>
                        <!-- producto 3 -->
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="productos">
                                <img src="static/img/arbustooss.png" alt="Arbusto">
                                <div class="overlay">
                                    <p>Arbustos</p>
                                </div>
                            </div>
                        </div>
                        <!-- producto 4 -->
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="productos">
                                <img src="static/img/tierra-de-hojas.png" alt="Tierra de hojas">
                                <div class="overlay">
                                    <p>Tierra de hojas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </div>

{% endblock %}    